{% extends "admin/index.html" %}
{% set active_page = "category" %}
{% block admin_app %}
<div class="container">

  <div class="btn-toolbar justify-content-between py-4">
    <h1>Catégorie de matériel</h1>
    <div>
      <a class="btn btn-success" href="{{ url_for('admin.add_category') }}">Nouvelle catégorie</a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for item in list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>
                <a href="{{ url_for('admin.detail_category', id=item.id) }}">Detail</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}