{% extends "admin/index.html" %}
{% set active_page = "category" %}
{% block admin_app %}
<div class="container">

  <div class="btn-toolbar justify-content-between py-4">
    <h3>{{category.name}}</h3>
    <div>
      <a href="{{ url_for('admin.edit_category', id=category.id) }}">Modifier</a>
    </div>
  </div>


    <div>
        <h3>Générale</h3>
        <div>
            <table class="table">
                <tr>
                    <td>Nom</td>
                    <td>{{category.name}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{category.description}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}