{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.index') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.category') }}">Categories de materiels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.label') }}">Marques de materiels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.service') }}">Service / Unité</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            {% block admin_app %}{% endblock %}
        </div>
    </div>
{% endblock %}