{% extends "home/index.html" %}
{% set active_page = "order" %}
{% block home_app %}
<div class="container">
    <div class="btn-toolbar justify-content-between py-4">
        <h1>Commande</h1>
        <div>
          <a class="btn btn-success" href="{{ url_for('home.add_order') }}">Nouvelle commande</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Demandeur</th>
            <th>Service</th>
            <th>Description</th>
            <th>Intervenant</th>
            <th>Actions menées</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.requester}}</td>
            <td>{{item.service}}</td>
            <td>{{item.description}}</td>
            <td>{{item.orderer}}</td>
            <td>{{item.actions}}</td>
            <td>{{item.date}}</td>
            <td>
                <a href="{{ url_for('home.detail_order', id=item.id) }}">Detail</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}