{% extends "admin/index.html" %}
{% set active_page = "service" %}
{% block admin_app %}
    <div class="container mt-2">
      <div class="row justify-content-md-center">
        <div class="col-4">
            <h3 class="text-center">Importer des données à partir d'un fichier excel</h3>
            <p class="text-center">(xls, xlsx, ods please)</p>
            <form action="" method=post enctype=multipart/form-data>
                <div class="custom-file my-2">
                  <input type=file name=file class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Selectionner votre fichier</label>
                </div>
                <div class="my-2">
                    <input class="btn btn-success btn-block" type=submit value=Upload>
                </div>
            </form>
            <p class="text-center">
                <a class="btn" href="{{ url_for('admin.download_service') }}">Téléchager un exemplaire de données</a>
            </p>
        </div>
      </div>
    </div>
{% endblock %}
